html{
  height: 100%;
}
body{
  margin: 0;
  padding: 0;
  height:100vh;
  background-color: rgba(176, 228, 243, 0.726);
  background-repeat: repeat;
  
}

.app{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search-container {
  position: absolute;
  width: 560px;
  height: 511px;
  margin: 160px 100px;
  box-sizing: border-box;
}

.map-container {
  position: absolute;
  width: 560px;
  height: 511px;
  left: 776px;
  top: 170px;
}

.black-bold {
  color: black;
  font-weight: bold;
}

.center{
  width: fit-content;
  display: inline;
  align-items: center;
  padding: 30px;
  
}


.result{
  background-color: rgb(255, 255, 253);
  font-size: 20px;
  font-weight: 400;
  box-sizing: border-box;
  border: solid, 2px, white;
  border-radius: 12px;
  padding: 13px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }

 .transit-mode-container label, select{
  margin-top: 15px;
  margin-left: 8px;
  margin-bottom: 8px;
  padding: 10px;
  font-size: 21px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
 }

 select{
  background-color: transparent;
  box-shadow: none;
  border: solid, 2px, black;
  border-radius: 12px;
 
 }

 .button-container{

  display: flex;
  justify-content: flex-end;
  margin: 10px;

 }
 .btn{
  background-color: rgb(39, 163, 251);
  padding: 12px;
  font-size: 18px;
  width: 24%;
  border-radius: 21px;
  border: 0;
 }
 .button-container :hover{
  cursor: pointer;
  background-color: rgb(241, 219, 47);
 }

 .distance-bold {
  font-weight: bold;
}

.distance-blue {
  font-size: 24px;
  font-weight: bold;
  margin-left: 20px;
  color: rgb(9, 178, 250);
}


 @media (max-width: 768px) {
  .app {
    flex-direction: column; /* Stack items in a column */
    align-items: center;
  }

  .map-container {
    position: relative;
    width: 100%; /* Full width */
    height: 50vh; /* Adjust height as needed */
    top: 0;
    left: 0;
    margin: 0; /* Reset margins */
    padding: 8px;
    order: -1;
  }

  .search-container {
    position: relative;
    width: 100%; /* Full width */
    margin: 20px 0; /* Adjust margin as needed */
    top: 0;
    left: 0;
    height: auto; /* Adjust height as needed */
    order: 1;
    padding: 8px;
  }
}
