
.app {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

.search-container {
  position: absolute;
  width: 560px;
  height: 511px;
  margin: 160px 100px;
  box-sizing: border-box;
}

.map-container {
  position: absolute;
  width: 560px;
  height: 511px;
  left: 776px;
  top: 170px;
}

.black-bold {
  color: black;
  font-weight: bold;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;

}

.result{
  background-color: white;
  font-size: 20px;
  font-weight: 400;
  box-sizing: border-box;
  border: solid, 2px, black;
  padding: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }

 .transit-mode-container label, select{
  margin: 5px;
  padding: 10px;
  font-size: 21px;
 }

 .btn {
  /* CTA */

/* position: absolute;
width: 141px;
height: 62px;
left: 505px;
top: 262px; */

/* $brandColorPrimary */
background: #067ff0;
border-radius: 32px;

 }

 @media (max-width: 768px) {
  .app {
    flex-direction: column; /* Stack items in a column */
    align-items: center;
  }

  .map-container {
    position: relative;
    width: 100%; /* Full width */
    height: 50vh; /* Adjust height as needed */
    top: 0;
    left: 0;
    margin: 0; /* Reset margins */
    padding: 5px;
    order: -1;
  }

  .search-container {
    position: relative;
    width: 100%; /* Full width */
    margin: 20px 0; /* Adjust margin as needed */
    top: 0;
    left: 0;
    height: auto; /* Adjust height as needed */
    order: 1;
  }
}
